
/* 
Hello  */

.card-wrapper {
    margin-bottom: 30px;
  }
  .card-image .card .card-img-wrapper {
    height: 100%;
  }
  .card-image .card .card-body {
    display: none;
  }
  .card-image-title-description .card .card-img-wrapper {
    max-height: 160px;
  }
  .card-image-title-description .card {
    position: relative;
    min-height: 300px;
  }
  .card-image-title-description .card .card-body {
    height: auto;
    position: relative;
    top: 0;
    margin-bottom: -70px;
  }
  .card-image-title-description .card:hover .card-body {
    top: -70px;
  }
  .card-image-title-description .card .card-body .card-title {
    margin-bottom: .75rem;
  }
  .card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    height: 100%;
  }
  .card:hover {
    box-shadow: 8px 12px 31px -10px #ab98ab;
  }
  .card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
  }
  .card-img-wrapper img {
    transition: 1.5s ease;
  }
  .card:hover .card-img-wrapper img {
    transform: scale(1.15);
  }
  .card-body .card-title {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
  }
  .card:hover .card-body .card-title {
    margin-bottom: .75rem;
  }
  
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #fff;
    transition: 1.5s ease;
  }
  .card-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
  }
  .card:hover .card-body {
    height: 80%;
  }
  .card:hover .card-content {
    bottom: 0;
  }
  body {
    margin: 0;
    background-image: linear-gradient(to right, #ECE9E6 , #FFFFFF);
  }




  .text_slide{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
  }

  /* our Testimonials */
  .client {
    width: 100%;
    height: 100%;
    background-color: #2945df;
  
  }
  .t-card {
    padding: 1.8125rem 1.125rem;
    background-color: rgba(15, 3, 106, 0.73);
    border-radius: 1.25rem;
    color: white;
    height: auto;
}

.arrow-down {
    width: 0;
    height: 10;
    border-left: 1.5625rem solid transparent;
    border-right: 1.5625rem solid transparent;
    border-top: 1.25rem solid rgba(15, 3, 106, 0.73);
    
}

.testimonial_content{
  text-align: justify;
}


@media (max-width: 767px){
.gap-top {
    margin-top: 50px;
}
}

.succes-text{
text-align: justify;
color:#141416;
font-size: 20px;
font-weight: 600;
}

.our-approch-title{
  font-weight: 650;
  font-size:50px;
  
}



/* 
OUR APPROACH CSS START HERE  */

.banner-wrapp {
  background-image: url(../images/ourbaner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  background-position: center;
}
.banner-title{
 
  font-size: 50px;
  font-weight: 600;
}

.approach-text{
  text-align: justify;
  font-size: 20px;
  font-weight: 600;
}








/* ========================================= * 
	
   OUR EXPERTISE  CSS START FROM HERE 
 * ========================================= */
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

 /* body{
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   font-size: 15px;
   line-height: 1.7;
   color: #343434;
   background-color: #f1f2f6;
   overflow-x: hidden;
 } */

 .expertise-wrapp h2{
  font-size: 60px;
  font-weight: 600;
 }
 a {
   cursor: pointer;
 }
 a:hover {
   text-decoration: none;
 }
 
.section{
   position: relative;
   width: 100%;
   display: block;
 }
 .full-height{
   min-height: 100vh;
 }
 .over-hide{
   overflow: hidden;
 }
 .padding-tb{
   padding: 100px 0;
 }
 [type="radio"]:checked,
 [type="radio"]:not(:checked){
   position: absolute;
   left: -9999px;
 }
 .checkbox:checked + label,
 .checkbox:not(:checked) + label{
   position: relative;
   cursor: pointer;
   margin: 0 auto;
   text-align: center;
   margin-right: 6px;
   margin-left: 6px;
   display: inline-block;
   width: 50px;
   height: 50px;
   border: 3px solid #3309ec;
   background-size: cover;
   background-position: center;
   box-sizing: border-box;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
   background-image: url(../images/Web_design.jpg);
   animation: border-transform 6s linear infinite alternate forwards;
     -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
     animation-play-state: paused;
 }
 .checkbox.scnd + label{
   background-image: url(../images/Custom_Software_Development.jpg);
 }
 .checkbox.thrd + label{
   background-image: url(../images/MobileApp.png);
 }
 .checkbox.foth + label{
   background-image: url(../images/Portal.png)
 }
 
 .checkbox:checked + label{
   box-shadow: 0 8px 25px 0 rgba(16,39,112,.3);
   transform: scale(1.3);
     -webkit-animation-play-state: running;
     -moz-animation-play-state: running;
     animation-play-state: running;
 }
 @keyframes border-transform{
   0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
 }
 
 .slider-height-padding {
   padding-top: 440px;
 }
 
 .Expertise-ul {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   z-index: 100;
   padding: 0;
   margin: 0;
   list-style: none;
 }

 .Expertise-li{
  color: #3309ec;
 }
 .Expertise-ul li {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   display: block;
   z-index: 100;
   padding: 0;
   margin: 0;
   list-style: none;
   height: 400px;
   border: 5px solid #cddde7;
   background-size: cover;
   background-position: center;
   background-image: url(../images/Web_design.jpg);
   border-radius: 50%;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-weight: 900;
   font-size: 16px;
   letter-spacing: 2px;
   line-height: 2.7;
   color: #343434;
   writing-mode: vertical-rl;
   opacity: 0;
   pointer-events: none;
   box-shadow: 0 8px 25px 0 rgba(16,39,112,.1);
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;

   
 }
 .Expertise-ul li span {
   mix-blend-mode: difference;
 }
 .Expertise-ul li:nth-child(2) {
   background-image: url(../images/Custom_Software_Development.jpg);
 }
 .Expertise-ul li:nth-child(3) {
   background-image: url(../images/MobileApp.png);
 }
 .Expertise-ul li:nth-child(4) {
   background-image: url(../images/Portal.png)
 }
 
 
 .checkbox.frst:checked ~ .Expertise-ul li:nth-child(1) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.scnd:checked ~ .Expertise-ul li:nth-child(2) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.thrd:checked ~ .Expertise-ul li:nth-child(3) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 .checkbox.foth:checked ~ .Expertise-ul li:nth-child(4) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 
 .logo {
   position: absolute;
   top: 30px;
   right: 30px;
   display: block;
   z-index: 100;
   transition: all 250ms linear;
 }
 .logo img {
   height: 26px;
   width: auto;
   display: block;
 }
 
 
 
 @media (max-width: 767px) {
   .slider-height-padding {
     padding-top: 340px;
   }
   .Expertise-ul li {
     height: 300px;
     font-size: 13px;
     letter-spacing: 1px;
   }
 }
 
 @media (max-width: 575px) {
   .slider-height-padding {
     padding-top: 240px;
   }
   .Expertise-ul li {
     height: 200px;
   }
 }