@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,body {
  height: 100%;
}

.wrapper {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; 
  width: 100%;
  color: rgb(243, 11, 108);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  display: table;
  
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
  padding:200px 500px;
}

.scroll-bg {
  background-color: #0f0f0a;
  padding: 10px 70px;
  color: #f5efef;
}
.section-title{
  margin-top: 7rem;
  margin-bottom: 2rem;
  font-size: 50px;
  font-weight: 600;
}

/* first section */

.bg-1 {
  background-image: url(../images/Back1.jpg);
}



.bg-2 {
  background-image: url(../images/Back2.jpg);
}



.bg-3 {
  background-image: url(../images/Back3.webp);
}

.bg-4 {
  background-image: url(../images/SD.png);
}



.bg-5 {
  background-image: url(../images/SSL.png);
}



.bg-6 {
  background-image: url(../images/Outsourcing.png);
}



.text-high{
  font-size: 40px;
  font-weight: 700;
  color:rgba(239, 44, 144, 0.91)
}

.my_text {
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
}