.App {
 
  overflow-x: hidden;
}
 

/* typewriter css start here */
.typewriter {
  font-family: sans-serif;
  font-weight:750;
  font-size:80px;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  color: #c2f50c;
  min-height:100vh;
  background: url('https://static.vecteezy.com/system/resources/previews/000/180/409/original/software-engineers-vector.png');
}


.Footer_description{
  text-align: justify;
}
.menu_footer{
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.form-group{
  font-family:Georgia, 'Times New Roman', Times, serif
}

.footer_address{
  font-family:Georgia, 'Times New Roman', Times, serif
}

.footer_heading{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font:bold;
  text-indent:5px;
}




/* SCSS HERE START */



@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);



.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%) infinite;    
}


.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}










/* check CSS js here start  */

/* @import url('https://fonts.googleapis.com/css?family=Quicksand');

html,body {
  height: 100%;
}

.wrapper {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; 
  width: 100%;
  color: white;
  text-align: center;
  display: table;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
  padding:200px 500px;
}

.scroll-bg {
  background-color: #0f0f0a;
  padding: 10px 70px;
  color: #676767;
}



.bg-1 {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201123/pngtree-digital-technology-low-poly-design-image_499020.jpg');
}



.bg-2 {
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/180/409/original/software-engineers-vector.png');
}



.bg-3 {
  background-image: url('https://img.lovepik.com//photo/50007/7678.jpg_300.jpg');
} */

.Product_List{
  text-align: justify;
}

.panel-body{
  text-align: justify;
}


